.success {
    border: 2px solid green;
    background-color: #eaffe6;
    padding: 15px;
    margin: 20px 25px;
    border-radius: 5px;
}

.success p {
    margin-bottom: 15px;
    font-size: 16px;
}